<div id="password-reset" data-role="page" class="password-reset">
  <% if flash %>
  <div id="flash-box">
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
  </div>
  <% end %>
  <div data-role="content">
    <div id="ff-header-block">
      <span id="ff-logo-underline"></span>
      <h1>Fridge Friend</h1>
      <span id="ff-logo-fridge-med"></span>
    </div>
    <div class="ff-tagline-block">Eat.&nbsp;&nbsp;Drink.&nbsp;&nbsp;Be Social.</div>



    <div id="clearance">
      <p><%= t '.description' %></p>
    </div>
  </div>
</div>
